body {
	background-image: url(../images/bobbydodd.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}


.mainSection{
	width: 60%;
	min-height: 400px;
	background: rgba(0,0,0,0.70);
	margin-top: 30px;
	border-radius: 10px;
	text-align: center;
}

.mainSection h2{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 60px;
	color: white;
	margin-bottom: 30px;
	line-height: 90px;
	margin-bottom: 50px;
}

.btn-lg{
	width: 300px;
}

.btn-danger{
	margin-bottom: 20px;
}

#gameTimer, .game{
	font-family: 'Roboto', sans-serif;
	color: #cccccc;
	font-size: 30px;
	margin-bottom: 30px;
}


.game p{
	font-size: 22px;
}
.game h3{
	color: #d9534f;
}

.game label{
	font-size: 14px;
	margin-right: 20px;
}

#completed {
	color: #00b359;
}

.footer{
	color: black;
}